@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

body {
  background: #eceff1;
  font-family: 'Nunito', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
  font-size: 14px!important;
  color: #333;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

.helper-text {
  color: #76838f;
  font-size: 16px;
}

.no-padding {
  padding: 0px!important;
}

.control-label {
  font-weight: 400;
}

.form-control {
  outline: none;
  box-shadow: none;
  border-radius: 0px;
  border: 2px solid #eeeeee;

  &:focus {
    box-shadow: none!important;
    border: 2px solid #1E88E5;
  }
}

.Application {
  margin-top: 75px;
}

.panel {
  background: #FFFFFF;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.btn {
  padding: 6px 15px;
  height: 36px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 20px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

  &.disabled {
    color: #9e9e9e;
    background: #eeeeee;
  }
}

.btn-primary {
  background: #1E88E5;

  &:hover {
    background: #1976D2;
  }

  &:active,
  &:focus {
    background: #1565C0!important;
  }

  &.btn-bordered {
    background: #FFFFFF;
    color: #1565C0;
    border: 1px solid #1565C0;

    &:hover {
      color: #1565C0;
      background: #f3f7f9;
      border: 1px solid #1565C0;
    }

    &:active,
    &:focus {
      color: #1565C0;
      background: #eceff1!important;
      border: 1px solid #1565C0;
    }
  }
}

table {
  tbody {
    tr {
      td {
        padding: 10px;
      }
    }
  }
}

.alert {
  &.alert-danger {
    color: #fff;
    background-color: #f96868;
    border-color: #f96868;
  }
}
