.CreateDocumentForm {
  .CreateDocumentForm__wizard {
    padding: 15px 0px;
    overflow: hidden;
    border-bottom: 1px solid #eceff1;

    .CreateDocumentForm__wizardStep {
      text-align: center;
      position: relative;
      z-index: 100;

      .step {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #f3f7f9;
        text-align: center;
        background: #FFFFFF;
        z-index: 1000;

        img {
          width: 50%;
          margin-top: 8px;
        }
      }

      .stepLine {
        width: 100%;
        height: 4px;
        background: #f3f7f9;
        position: absolute;
        top: 18px;
        left: 0;
        z-index: -1;
      }

      .stepText {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 300;
        color: #76838f;
      }

      &.last {
        .stepLine {
          width: 50%;
          background: #f3f7f9;
          right: 50%;
        }
      }

      &.first {
        .stepLine {
          width: 50%;
          background: #f3f7f9;
          left: 50%;
        }
      }

      &.done {
        .step {
          border: 2px solid #1E88E5;
        }
        .stepLine {
          background: #1E88E5;
        }
      }

      &.current {
        .step {
          border: 2px solid #1E88E5;
        }

        .stepLine {
          width: 100%;
          background: #1E88E5;
          left: 0;
        }

        .stepText {
          font-size: 16px;
          font-weight: 400;
          color: #333;
        }

        &.first {
          .stepLine {
            left: 50%;
          }
        }

        &.last {
          .stepLine {
            width: 50%;
            background: #1E88E5;
            left: 0;
          }
        }
      }
    }
  }

  .CreateDocumentForm__content {
    padding: 30px 0px;
    text-align: center;

    .CreateDocumentForm__template {
      width: 120px;
      height: 150px;
      border: 1px solid #76838f;
      margin-bottom: 25px;
      display: inline-block;
      padding: 25px 15px;
      -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.05);
      box-shadow: 0 2px 2px rgba(0,0,0,.05);
      cursor: pointer;

      span {
        font-weight: 300;
      }

      &:hover,
      &.selected {
        border: 3px solid #1E88E5;
        background: #f3f7f9;
        text-align: center;

        img {
          display: block;
          margin: 15px auto;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .CreateDocumentForm__actions {
    text-align: center;
  }

  .TemplateDataForm {
    h4 {
      img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
    }
  }
}
