.Documents {
  .DocumentsType__list {
    list-style: none;
    padding-left: 0px;

    li {
      a {
        display: block;
        overflow: hidden;
        padding: 6px 8px;
        color: #76838f;
        text-decoration: none;
        border-radius: 4px;
      }

      &:hover {
        a {
          background: #CFD8DC;
        }
      }

      &.active {
        a {
          background: #1565C0;
          color: #ffffff;
          font-weight: 400;
        }
      }
    }
  }

  .DocumentList--empty {
    text-align: center;
    padding: 60px;

    p.DocumentList--empty__text {
      color: #76838f;
    }
  }

  .DocumentList {
    table {
      tbody {
        tr {
          a {
            color: #333;
          }
          &:hover {
            background: #f3f7f9;
          }
        }
      }
    }
  }
}
