.Navbar {
  background: #1565C0;

  .navbar-brand {
    font-weight: 400;
  }

  a {
    color: #FFFFFF;
    background: #1565C0!important;
  }

  li {
    position: relative;

    &:hover,
    &:active,
    &:focus {
      a, li {
        background: #0D47A1!important;
      }
    }
  }

  .arrowIcon {
    width: 20px;
    margin-left: 5px;
  }

  .Navbar__userMenu {
    position: absolute;
    width: 200px;
    right: 0px;

    ul {
      list-style: none;
      padding-left: 0px;

      li {
        background: #ffffff!important;
        a {
          display: block;
          padding: 6px;
          background: #ffffff!important;
          color: #333;
        }

        &:hover,
        &:active,
        &:focus {
          a {
            background: #ffffff!important;
          }
        }
      }
    }
  }
}
