.NotFound {
  margin-top: 120px;
  text-align: center;

  h1 {
    font-size: 86px;
    font-weight: 700;
  }

  p.NotFound__text {
    font-size: 28px;
    text-transform: uppercase;
    color: #76838f;
  }
}
